$fade: #1F2605;
$grass: #1F6521;
$limon: #53900F;
$sand: #A4A71E;
$sun: #d6ce15;



*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    
    font-family: Lato;

    .wrapper {
        max-width: 95rem;
        margin: 0 auto;
       


        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background-image: linear-gradient(to right bottom,
            rgba(white, 1),
            rgba($sand, 0.1)),
            url(./img/por.jpg);
            background-size: cover;
            background-position: center;
            
            clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
            margin-bottom: 1.5rem;

            

            .logo-container {
                width: 7rem;
                height: 5rem;
                padding-top: 2rem;
                
                margin-bottom: 1rem;
                transform: rotate(45deg);

                &__logo {
                    transform: scale(1.5);
                    width: 8rem;
                    fill: #414141;
                }
            }

            &__title {
                font-size: 2rem;
                margin-bottom: 2.5rem;
                font-weight: 500;
                background-image: linear-gradient(to right bottom,
                rgba($fade, 0.9),
                rgba(#414141, 0.9));

                display: inline-block;
                -webkit-background-clip: text;
                background-clip: text;
                -moz-background-clip: text;
                color: transparent;

            }

            &__text {
                width: 20rem;
                text-align: justify;
                margin-bottom: 2rem;
                color: #414141;
                font-weight: 600;
                font-size: 1rem;
               

                @media only screen and (max-width:360px) {

                    width: 16rem;
                    
                    
            
                  }
            }

        }

        .form-board {

            margin: 0 auto;
            width: 20rem;
            
          

            .form {
                width: 20rem;
                display:flex;
                flex-direction: column;
                align-items: center;

                &__input {

                    font-family: Lato, sans-serif;
                    color: inherit;
                    font-size: 1rem;
                    padding: 0.5rem;
                    border-radius: 0.3rem;
                    outline: 2px solid $limon;
                    border: none;
                    border-bottom: 2px solid transparent;
                    
                    
                    width: 75%;
                    display: block;
                    margin-bottom: 1rem;
                    
                    &::placeholder {

                        text-align: center;
                        font-family: Lato, sans-serif;
                        color: #414141;
                    }

                }

                .search-button {
                    min-width: 3rem;
                    width: auto;
                    height: 2.2rem;
                    letter-spacing: 0.5px;
                    line-height: 2rem;
                    padding: 0 35px 0 35px;
                    font-size: 15px;
                    background: none;
                    color: black;
                    text-decoration: none;
                    font-family: Lato;
                    font-weight: bolder;
                    border: 2px solid $limon;
                    cursor: pointer;
                    margin-bottom: 1.3rem;
                    transition: all 0.15s ease-in-out;
                    
                    &:active {
                        transform: translateY(2px)
                    }
                    &:focus {outline: none;}
                    &:hover {
                        box-shadow: -5px 6px 6px -1px $limon;
                    }


                }
            }

        }

        .recipe-board {
            
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            padding: 2rem;
            font-family: Lato;
            
            justify-content: center;

            &__failed {

                height: 30rem;
                display: block;
                font-size: 1.2rem;
                font-weight: 700;
                font-family: Lato;
                background-image: linear-gradient(to right bottom,
                rgba($fade, 0.9),
                rgba($limon, 0.9));

                display: inline-block;
                -webkit-background-clip: text;
                background-clip: text;
                -moz-background-clip: text;
                color: transparent;
                
            }

        }

        .footer {
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-flow: row wrap;
            &__copy {
                display: block;
                margin: auto;
                width: auto;
                font-size: 0.8rem;

            }

        }
    

        
    }
}